@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Employees list</title>
</head>
<body>
    <div id="content"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src='@Url.Content("~/Scripts/jsx/app.jsx")'></script>
</body>
</html> 